
/* ==========================================================================
   #FONT
   ========================================================================== */
.font-robo {
  font-family: "Roboto", "Arial", "Helvetica Neue", sans-serif;
}

/* ==========================================================================
   #GRID
   ========================================================================== */
.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.row-space {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.col-2 {
  width: -webkit-calc((100% - 60px) / 2);
  width: -moz-calc((100% - 60px) / 2);
  width: calc((100% - 60px) / 2);
}

@media (max-width: 767px) {
  .col-2 {
    width: 100%;
  }
}

/* ==========================================================================
   #BOX-SIZING
   ========================================================================== */
/**
 * More sensible default box-sizing:
 * css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice
 */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

/* ==========================================================================
   #RESET
   ========================================================================== */
/**
 * A very simple reset that sits on top of Normalize.css.
 */
body,
h1, h2, h3, h4, h5, h6,
blockquote, p, pre,
dl, dd, ol, ul,
figure,
hr,
fieldset, legend {
  margin: 0;
  padding: 0;
}

/**
 * Remove trailing margins from nested lists.
 */
li > ol,
li > ul {
  margin-bottom: 0;
}

/**
 * Remove default table spacing.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/**
 * 1. Reset Chrome and Firefox behaviour which sets a `min-width: min-content;`
 *    on fieldsets.
 */
fieldset {
  min-width: 0;
  /* [1] */
  border: 0;
}

button {
  outline: none;
  background: none;
  border: none;
}

/* ==========================================================================
   #PAGE WRAPPER
   ========================================================================== */
.page-wrapper {
  min-height: 100vh;
}

body {
  font-family: "Roboto", "Arial", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 15px;
}

h6 {
  font-size: 13px;
}

/* ==========================================================================
   #BACKGROUND
   ========================================================================== */
.bg-blue {
 background-color: background: #a64bf4;
  background: -webkit-linear-gradient(right, #00dbde, #fc00ff);
  background: -o-linear-gradient(right, #00dbde, #fc00ff);
  background: -moz-linear-gradient(left, #00dbde, #fc00ff);
  background: linear-gradient(left, #00dbde, #fc00ff);
}

/* ==========================================================================
   #SPACING
   ========================================================================== */
.p-t-100 {
  padding-top: 100px;
}

.p-t-20 {
  padding-top: 20px;
}

.p-b-100 {
  padding-bottom: 100px;
}

/* ==========================================================================
   #WRAPPER
   ========================================================================== */
.wrapper {
  margin: 0 auto;
}

.wrapper--w680 {
  max-width: 680px;
}
 .font {
     text-align:center;
     color:black;
     font-size:35px;
     font-family:"Montserrat-Bold";
     margin:o auto;
 }
/* ==========================================================================
   #BUTTON
   ========================================================================== */
.btn {
  line-height: 40px;
  display: inline-block;
  padding: 0 25px;
  cursor: pointer;
  font-family: "Roboto", "Arial", "Helvetica Neue", sans-serif;
  color: #fff;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
  font-size: 14px;
  font-weight: 700;
}

.btn--radius {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 10px;
}

.btn--green {
  background-color: background: #a64bf4;
  background: -webkit-linear-gradient(left, #00dbde, #fc00ff);
  background: -o-linear-gradient(left, #00dbde, #fc00ff);
  background: -moz-linear-gradient(left, #00dbde, #fc00ff);
  background: linear-gradient(left, #00dbde, #fc00ff);
}

.btn--green:hover {
  background: #4dae3c;
}
.btn--green:hover {
  webkit-transform: translateX(10px);
      transform: translateY(10px);
}
/* ==========================================================================
   #DATE PICKER
   ========================================================================== */
td.active {
  background-color: #2c6ed5;
}

input[type="date" i] {
  padding: 14px;
}

.table-condensed td, .table-condensed th {
  font-size: 14px;
  font-family: "Roboto", "Arial", "Helvetica Neue", sans-serif;
  font-weight: 400;
}

.daterangepicker td {
  width: 40px;
  height: 30px;
}

.daterangepicker {
  border: none;
  -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  display: none;
  border: 1px solid #e0e0e0;
  margin-top: 5px;
}

.daterangepicker::after, .daterangepicker::before {
  display: none;
}

.daterangepicker thead tr th {
  padding: 10px 0;
}

.daterangepicker .table-condensed th select {
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 14px;
  padding: 5px;
  outline: none;
}
.imtip{
margin:0 auto;
text-align:center;
}
/* ==========================================================================
   #FORM
   ========================================================================== */
input {
  outline: none;
  margin: 0;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  width: 100%;
  font-size: 14px;
  font-family: inherit;
}

.input-group {
  position: relative;
  margin-bottom: 30px;
  border-bottom: 2px solid #0d99d7;
}

.input-icon {
  position: absolute;
  font-size: 18px;
  color:#0d99d7;
  right: 8px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  cursor: pointer;
}

.input--style-1 {
  padding: 9px 0;
  color: #666;
}

.input--style-1::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #555;
}

.input--style-1:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #555;
  opacity: 1;
}

.input--style-1::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #555;
  opacity: 1;
}

.input--style-1:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #555;
}

.input--style-1:-ms-input-placeholder {
  /* Microsoft Edge */
  color: #555;
}
.some {
  font-size: 18px;
  font-family: all;
  color: red;
  text-align: center;
  margin: 30px;}
/* ==========================================================================
   #SELECT2
   ========================================================================== */
.select--no-search .select2-search {
  display: none !important;
}

.rs-select2 .select2-container {
  width: 100% !important;
  outline: none;
}

.rs-select2 .select2-container .select2-selection--single {
  outline: none;
  border: none;
  height: 34px;
}

.rs-select2 .select2-container .select2-selection--single .select2-selection__rendered {
  line-height: 34px;
  padding-left: 0;
  color: #555;
}

.rs-select2 .select2-container .select2-selection--single .select2-selection__arrow {
  height: 32px;
  right: 4px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.rs-select2 .select2-container .select2-selection--single .select2-selection__arrow b {
  display: none;
}

.rs-select2 .select2-container .select2-selection--single .select2-selection__arrow:after {
  font-family: "Material-Design-Iconic-Font";
  content: '\f2f9';
  font-size: 18px;
  color: #ccc;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.rs-select2 .select2-container.select2-container--open .select2-selection--single .select2-selection__arrow::after {
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

.select2-container--open .select2-dropdown--below {
  border: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  border: 1px solid #e0e0e0;
  margin-top: 5px;
  overflow: hidden;
}

/* ==========================================================================
   #TITLE
   ========================================================================== */
.title {
  color:red;
  text-align: center;
  font-family:"Montserrat-Bold";
  font-size: 35px;
  margin: 20px 30px;
}

/* ==========================================================================
   #CARD
   ========================================================================== */
.card {
  overflow: hidden;
  border:1px solid red;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 20px;
  background:transparent;
}

.card-1 {
  -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
}

.card-1 .card-heading {
  background: url("top.png") center center/cover no-repeat;
  padding-top: 50px;
  margin:0 auto;
  text-align:center;
  
}

.card-1 .card-body {
  padding: 0 90px;
  padding-top: 5px;
  padding-bottom: 10px;
}

@media (max-width: 767px) {
  .card-1 .card-body {
    padding: 0 40px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
///////////////////////////////////////////////////////////////////////
body {
  background-image: url(bb.png);
background-repeat: no-repeat;
background-size: cover;
  font-family: "Roboto", "Arial", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 14px;
}
.page-wrapper {
  min-height: 100vh;
}
.p-t-100 {
  padding-top: 100px;
}

.p-t-20 {
  padding-top: 20px;
}

.p-b-100 {
  padding-bottom: 100px;
}
.over {
display: list-item;
  position:absolute; 
  width:50px; 
  height:100px;
  text-align: center;
  margin: 20px 500px;

}
.card {
  overflow: hidden;
  border:10px solid red;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 10px;
    background-color: #39459b;
}

.card-1 {
  -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15);
}

.card-1 .card-heading {
  
  padding-top: 10px;
}

.card-1 .card-body {
  padding: 100px;
}

@media (max-width: 400px) {
  .card-1 .card-body {
    padding: 0 5px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
	.w3-button:hover {
	background-color: rgba(7, 171, 72, 1) !important;
	color: rgba(255, 255, 255, 1) !important;
}
.w3-button {
	font-family: sans-serif;
	font-size: 14px;
	line-height: 1.10em;
	}
.w3-button * {
	-webkit-box-sizing: border-box;
	 -khtml-box-sizing: border-box;
	   -moz-box-sizing: border-box;
		-ms-box-sizing: border-box;
			box-sizing: border-box;
	}
	.w3-button img {
		max-width: 100%;
		max-height: 100%;
		vertical-align: center;
		}
	.w3-button {
		color: #333;
		text-decoration: none;
		}
		.w3-button:hover {
			text-decoration: none;
			}
.w3-clearfix:before,
.w3-clearfix:after {
	content: '';
	display: inline-block;
	clear: both;
	}

.w3-button {
	background: #0DC152;
	color: white;
	}
	


.w3-button {
	display: inline-flex;
	width: auto;
	align-items: center;
	justify-content: center;
	border-radius: 5px;
	position: relative;
	transition: all .3s;
	text-decoration: none !important;
	}
	.w3-button:hover {
		box-shadow: 0 8px 25px -5px rgba(45, 62, 79, .3);
		transform: translateY(-3px);
		}
	.w3-button .w3-img {
		flex: 0 0 auto;
		width: 50px;
		height: 50px;
		border-radius: 4px;
		overflow: hidden;
		position: relative;
		}
	.w3-button .w3-text {
		flex: 1 1 auto;
		display: block;
		}
	.w3-button .w3-about-text {
		font-size: 12px;
		line-height: 1.4em;
		display: block;
		opacity: .80;
		}
	.w3-button .w3-copy {
		font-weight: bold;
		display: block;
		}


 
.w3-button:hover {
	background-color: rgba(7, 171, 72, 1) !important;
	color: rgba(255, 255, 255, 1) !important;
}
.title {
  color:red;
  text-align: center;
  font-family:"Montserrat-Bold";
  font-size: 35px;
  margin: 20px 30px;}
.butten {
	border:2px solid red;
	margin: 0px auto;
	border-radius: 20px;
	background-color: red;
	color:white;
	text-decoration: none;
	 line-height: 40px;
  padding: 0 25px;
  cursor: pointer;
   font-weight: 700;
   margin: 10px;
}
.butten:hover {
 background-color: #0d99d7;
  webkit-transform: translateX(10px);
      transform: translateY(10px);
}

	
 .style1a{
 	text-align: center;
	margin: 0 auto;
	width: 100px;
     height: 100px}
     .style2b{
	margin: 0 auto;
	width: 100px;
 height: 100px}
	.style3c {
	margin: 0 auto;
	width: 100px;
 height: 100px}
 .style1 {
 	border:1px solid red;
 	border-radius: 10px;
 display: inline-block;
 	margin: 0 auto;
 	border-width: 10px;
 	size: 300px;
 	padding: 5PX;
 	font-size: 10px;
 	color: white;
 	text-align: center;
 	text-decoration: none;
 	font-family: Roboto;
 }
 .style2 {
 	border:1px solid red;
 	border-radius: 10px;
 display: inline-block;
 	margin: 0 auto;
 	border-width: 5px;
 	size: 300px;
 	padding: 5PX;
 	font-size: 10px;
 	color: white;
 	text-align: center;
 	text-decoration: none;
 	font-family: Roboto;
 }
 .style3 {
 	border:1px solid red;
 	border-radius: 10px;
 display: inline-block;
 	margin: 0 auto;
 	border-width: 5px;
 	size: 300px;
 	padding: 5PX;
 	font-size: 10px;
 	color: white;
 	text-align: center;
 	text-decoration: none;
 	font-family: Roboto;
 }
.drop {
    size:100px:
	margin:0 auto;
}
.drop1 {
	size: 100px;
	}
	.some {
  font-size: 20px;
  font-family: all;
  color: white;
  text-align: center;
  margin: 30px;}